.banner1 {
    display: flex;
    background-image: url('../source/banner1hp.jpg');
    background-size: cover;
}

.b1header {
    width: 66.66%;
    padding: 20px;
    color: #fff; 
}

.image-controller {
    display: flex;
}

.image-controller img {
    width: 80px;
    height: auto;
    margin-right: 50px;
}

.b1right {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b1right img {
    max-width: 100%;
    max-height: 100%;
}

.banner2 {
    height: 50vh;
    width: auto;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b2right {
    width: 50%;
    height: 50vh;
    background-image: url('../source/bannersaya.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.sosmed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
}

.sosmed img {
    width: 40px;
    height: auto;
    margin-right: 20px;
}


.b2left {
    width: 50%;
    height: 50vh;
    background-image: url('../source/bannersaya.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.b2left img {
    width: 40px;
    height: auto;
}

.downloadBTN {
    background-color: white; 
    font-weight: bold;
    color: black; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer;
}

.downloadBTN:hover {
    background-color: grey; 
}